body{
    background-color: rgb(132, 80, 199);
}

.box{
    width: 600px;
    height: 400px;
    margin: 20px;
    background-color: rgba(255, 192, 203, 0.5);
    background-image: url("https://media.istockphoto.com/id/1479759169/photo/data-science-and-big-data-technology-data-scientist-computing-analysing-and-visualizing.jpg?s=612x612&w=0&k=20&c=m5CzwqrVWCfTfYE7klKKth7CJ98uy0CBEiQGIKp-_X0=");
    background-size: 100%;
}