div{
    background: red;
    width: 200px;
    height: 200px
}

h1{
    background-color:blue;
    text-align: center;
}

input{
    width: 90%;
    box-sizing: border-box;
}

form{
    width: 100px;
}